.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popupContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
  }
  
  .popupContent:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  .profileImage {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  .group {
    margin: 30px 0;
    text-align: center;
  }
  
  h1,
  h2,
  h3 {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

button.selected {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }

  
  